@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

/* Сбрасываем стандартные стили для браузеров НАЧАЛО */
* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

ul, ol {
	padding: 0;
}

h1 {
	margin: 0;
}

li {
	list-style: none;
}
/* Сбрасываем стандартные стили для браузеров КОНЕЦ */

.active_menu_link {
	text-shadow: 10px 3px 7px rgba(0, 246, 0, 1);
	text-transform: uppercase;
}


#wrapper {
	margin: 0 auto;
	width: 1200px;
	background: #eee;
	-webkit-box-shadow: 1px 3px 15px -1px rgba(38,34,38,1);
	-moz-box-shadow: 1px 3px 15px -1px rgba(38,34,38,1);
	box-shadow: 1px 3px 15px -1px rgba(38,34,38,1);
}

header h1 {
	font-size: 60px;
	text-align: center;
	padding: 50px 0;
	text-shadow: -3px -3px 9px rgba(150, 150, 150, 1);

	background: #000000;
	background: -webkit-repeating-radial-gradient(ellipse farthest-corner at center center, #000000 2%, #CF1512 100%);
	background: -moz-repeating-radial-gradient(ellipse farthest-corner at center center, #000000 2%, #CF1512 100%);
	background: repeating-radial-gradient(ellipse farthest-corner at center center, #000000 2%, #CF1512 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

header nav {
	overflow: hidden;
}

header nav a {
	display: block;
	float: left;
	width: 240px;
	text-align: center;
	background: #000;
	color: #fff;
	padding: 25px 0;
	border: 5px solid transparent;
	transition: .3s ease-in-out;
}

header nav a:hover {
	background: #fff;
	color: #000;
	border: 5px solid #000;
}


#second_page_title {
	text-align: center;
	font-weight: 200;
	font-size: 35px;
    margin: 50px 0 70px 0;
}


/* main styles */
main::after {
	content: "";
	display: block;
  	clear: both;
}

.product_item {
	width: 400px;
	height: 400px;
	float: left;
	opacity: .2;
}

.product_item:hover {
	opacity: 1;
}

.product_item img {
	width: 100%;
}

/* footer */

footer {
	background: #424242;
	padding: 50px 0;
}

footer p {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	color: #ddd;
}

footer p:last-child {
	margin-top: 20px;
}

footer p span {
	text-transform: uppercase;
	font-weight: 800;
}



/* CATEGORIES PAGE START */
#categories_page h2 {
	text-align: center;
	font-size: 35px;
	font-weight: 200;
	margin: 50px 0 70px 0;
}

.cat_item {
	width: 300px;
	height: 300px;
	float: left;
	text-align: center;
}

.cat_item img {
	width: 35%;
	display: block;
	margin: 0 auto;
}

.cat_item p {
	font-size: 11px;
	width: 240px;
	margin: 0 auto 20px auto;
}

.cat_item a {
	display: block;
	background: #000;
	color: #fff;
	width: 240px;
	margin: 0 auto;
	padding: 10px 0;
	border-radius: 25px;
	border: 5px dotted #fff;
	transition: .3s ease-in-out;
}

.cat_item a:hover {
	border: 5px solid #009688;
	transition: .3s ease-in-out;
	background: #fff;
	color: #000;
}



/* CATEGORIES PAGE END */


/* NEWS PAGE START */



.news_item {
	width: 240px;
	height: 480px;
	float: left;
	border: 1px solid #424242;
	transition: .01s ease-in-out;
	overflow: hidden;
}

.news_item:hover {
	transition: .01s ease-in-out;
	cursor: pointer;
	background: #000;
	color: #fff;
	transform: scale(1.08);
	-webkit-box-shadow: 3px 3px 39px -5px rgba(24,143,113,1);
	-moz-box-shadow: 3px 3px 39px -5px rgba(24,143,113,1);
	box-shadow: 3px 3px 39px -5px rgba(24,143,113,1);
	border-radius: 20px;
	border-width: 4px; /* толщина обводки */
	border-color: #fff;  /* цвет обводки */
}

.news_item img {
	display: block;
	width: 100%;
}

.news_item h3 {
	font-size: 20px;
}

.news_item p {
	font-size: 12px;
}

.news_item h3, .news_item p, .news_item a {
	padding: 0 15px;
}

.news_item a {
	color: #424242;
	font-weight: 700;
}

.news_item a:hover {
	text-decoration: underline;
	color: #fff;
}

/* NEWS PAGE END */




/* CONTACTS PAGE START  */


#contacts_page_main section {
	width: 1100px;
	margin: 0 auto 70px auto;
}

#contacts_page_main section::after {
	content: "";
	clear: both;
	display: block;
}

#contacts_page_main section iframe, #contacts_page_main section aside {
	display: block;
	width: 550px;
	float: left;
}


#contacts_page_main section aside {
	padding: 0 25px;
}

#contacts_page_main section aside ul li {
	margin: 0 0 10px 0;
	font-size: 20px;
	font-weight: 700;
	color: #000;
}

#contacts_page_main section aside ul li a {
	color: green;
}

#contacts_page_main section aside ul li a:hover {
	background: #000;
	color: green;
}

#social_block {
	/*border: 1px solid #000;*/
}

#social_block::after {
	content: "";
	display: block;
	clear: both;
}

#social_block a {
	display: block;
	float: left;
	margin: 0 20px 10px 0;
	background: #fff;
	
	color: #000;
	padding: 10px 13px;
	border: 1px solid transparent;
	border-radius: 50%;
}

#social_block a svg {
	width: 30px;
	height: 30px;
}

#social_block a:hover {
	background: #000;
	color: green;
	border: 1px solid #fff;
	transform: scale(1.2);
}


/* CONTACTS PAGE END  */



/* CART PAGE START  */

#cart_block::after, .product_item_in_cart::after {
	content: "";
	clear: both;
	display: block;
}

#product_list {
	/*background: red;*/
	width: 850px;
	float: left;
}



.product_item_in_cart {
	padding: 25px;
	border: 1px solid #000;
	margin: 0 0 10px 10px;
}

.img_block {
	width: 20%;
	float: left;
}

.img_block img {
	display: block;
	width: 100%;
}

.product_info_block {
	width: 55%;
	float: left;
	padding: 0 0 0 25px;

}

.product_info_block h3 {
	font-weight: 500;
}

.product_info_block p {
	font-size: 12px;
	font-weight: 400;
}

.product_info_block span {
	font-size: 20px;
	font-weight: 500;
	display: block;
	border-top: 1px dotted #000;
	padding: 15px 0 0 0;
}

.product_item_in_cart section {
	width: 25%;
	float: left;
	padding: 18px 0 0 0;
}

.product_item_in_cart section a {
	display: block;
	background: #424242;
	color: #fff;
	font-size: 15px;
	text-align: center;
	margin: 0 auto 10px auto;
	padding: 10px;
	width: 80%;
	border: 3px solid transparent;
}

.product_item_in_cart section a:hover {
	border: 3px solid #fff;
}

#cart_block aside {
	width: 330px;
	float: left;
	border: 1px solid #000;
	padding: 20px 0;
	margin: 0 10px;
}

#cart_block aside h3 {
	text-align: center;
	font-weight: 400;
	font-size: 25px;
}

#cart_block form {
	width: 90%;
	margin: 0 auto;
}


#cart_block form input {
	padding: 0;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	margin: 0 0 10px 0;
}

#cart_block form p {
	font-size: 18
}

#cart_block form p span {
	font-weight: 600;
}

#cart_block form input[type=submit] {
	background: white;
	border-color: transparent;
	border-width: 5px;
	border-radius: 4px;
	transition: .2s ease-in-out;
	box-shadow: inset 0 0 0 8px #fff
	font-weight: 600;
	outline: none;
	padding: 15px 0;
}

#cart_block form input[type=submit]:hover {
	background: black;
	border-color: white;
	color: white;
	cursor: pointer;
	box-shadow: inset 0 0 0 5px #fff
	transition: .2s ease-in-out;
}



.product_item_in_cart section a:last-child {
	background: red;
}


/* CART PAGE END  */





